@use "styles/spacing" as *;
@use "styles/colors" as *;
@use "styles/typography" as *;

.ButtonLink {
  color: $white;
  background-color: $color-link;
  padding: $space-m $space-l;
  font-size: 2.2rem;
  border-radius: 3px;

  &:hover {
    background-color: $color-link-hover;
    color: $white;
  }

  &:after {
    display: none;
  }
}
