@use "styles/spacing" as *;
@use "styles/breakpoints" as *;

.SiteInfo {
  display: flex;
  gap: $space-m;
  align-items: center;
}

.SiteInfo__name {
  font-weight: bold;
  text-transform: lowercase;
}

.SiteInfo__position {
  letter-spacing: 0.4px;
  margin-bottom: 0;
}

.SiteInfo__avatarContainer {
  width: 70px;
  height: 70px;

  @include screen-medium {
    width: 100px;
    height: 100px;
    transition: 200ms;

    &.SiteInfo__avatarContainer_small {
      width: 70px;
      height: 70px;
    }

    @media (prefers-reduced-motion) {
      width: 70px;
      height: 70px;
    }
  }
}
