@use "styles/spacing" as *;
@use "styles/breakpoints" as *;
@use "styles/typography" as *;

.HomePageCurrentStack {
  padding: $space-clear-header 0 $space-xl;
  font-weight: bold;
}

.HomePageCurrentStack__title {
  margin-bottom: $space-m;
  font-size: $size-xxl;
  line-height: 1.125;
}

.HomePageCurrentStack__content {
  font-size: $size-l;
  display: flex;
  flex-direction: column-reverse;

  @include screen-large {
    flex-direction: row;
  }
}

.HomePageCurrentStack__technologies,
.HomePageCurrentStack__logos {
  flex: 1;
  overflow: hidden;
}

.HomePageCurrentStack__technologies {
  color: $color-text-alt;
  line-height: 1.5;
}
