@use "styles/spacing" as *;
@use "styles/breakpoints" as *;
@use "styles/typography" as *;

.HomePageCurrentStack {
  padding: $space-clear-header 0 $space-xl;
  font-weight: bold;
}

.HomePageCurrentStack__title {
  margin-bottom: $space-m;
  font-size: $size-xxl;
}

.HomePageCurrentStack__content {
  font-size: $size-l;

  @include screen-medium {
    display: flex;
  }
}

.HomePageCurrentStack__technologies,
.HomePageCurrentStack__logos {
  flex: 1;
}

.HomePageCurrentStack__technologies {
  color: $color-text-alt;
  line-height: 1.5;
}
