@use "styles/typography" as *;
@use "styles/spacing" as *;
@use "styles/colors" as *;
@use "styles/breakpoints" as *;

.HomePagePortfolioItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: $space-m;
  justify-content: center;
  align-items: center;
  margin: $space-xl 0 $space-xxl;
}

.HomePagePortfolioItem__cover {
  position: relative;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
}

.HomePagePortfolioItem__loResCoverImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  filter: blur(4px);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.HomePagePortfolioItem__video {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  align-content: center;
}

.HomePagePortfolioItem__content {
  z-index: 0;
  font-size: $size-s;
}

.HomePagePortfolioItem__description {
  padding: $space-xs $space-m;
  margin: $space-m $space-xs $space-s;
  border-left: 4px solid $blue;
}

.HomePagePortfolioItem__stack,
.HomePagePortfolioItem__link {
  margin: 0 0 $space-xs;
  padding: 0;
  line-height: 1.125;
  list-style: none;
  li {
    display: inline-block;
    font-size: $size-xs;
    margin: 0 $space-xs;
  }
}

.HomePagePortfolioItem__title {
  font-size: $size-l;
  font-weight: bold;
  margin: $space-xs 0;
  color: $color-link;
}

.HomePagePortfolioItem__date {
  font-size: $size-xs;
  margin: $space-xs 0;
}

.HomePagePortfolioItem__linkText {
  text-transform: uppercase;
  font-weight: bold;
  font-size: $size-xs;
  margin: $space-m 0 $space-xs;
}

@include screen-medium {
  .HomePagePortfolioItem {
    grid-template-columns: repeat(20, 1fr);
    text-align: right;
  }

  .HomePagePortfolioItem__cover {
    grid-column: 1 / 11;
    grid-row: 1;
    justify-content: end;
    padding: 10px;
  }

  .HomePagePortfolioItem__content {
    grid-column: 11 / -1;
    grid-row: 1;
  }

  .HomePagePortfolioItem__description {
    border-right: 4px solid $blue;
    border-left: none;
  }

  .HomePagePortfolioItem_left {
    text-align: left;

    .HomePagePortfolioItem__cover {
      grid-column: 11 / -1;
    }
    .HomePagePortfolioItem__content {
      grid-column: 1 / 11;
    }

    .HomePagePortfolioItem__description {
      border-left: 4px solid $blue;
      border-right: none;
    }
  }
}
