@use "styles/spacing" as *;
@use "styles/breakpoints" as *;
@use "styles/typography" as *;

.HomePageGetInTouch {
  padding: ($space-clear-header + $space-xl) 0 $space-xxxl;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HomePageGetInTouch__title {
  font-size: $size-xxl;
  font-weight: bold;
  margin-bottom: $space-m;
}

.HomePageGetInTouch__subtitle {
  font-size: $size-l;
  font-weight: bold;
  margin-bottom: $space-l;
}
