@use "styles/colors" as *;
@use "styles/typography" as *;
@use "styles/spacing" as *;
@use "styles/breakpoints" as *;

.HomePageIntro__text {
  margin: 0 auto $space-xl;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HomePageIntro__title {
  font-size: $size-l;
  color: $color-link;
}

.HomePageIntro__description {
  font-size: $size-l;
  font-weight: 200;

  line-height: 1.5;

  em {
    font-weight: bold;
    font-style: normal;
  }
}

.HomePageIntro__mainLine {
  font-size: $size-cataclysmic;
  margin-top: $space-m;
  margin-bottom: $space-l;
  line-height: 1.125;

  em {
    font-size: $size-apocalyptic;
  }
}
