@use "styles/colors" as *;
@use "styles/typography" as *;
@use "styles/breakpoints" as *;

.LanguageToggle {
  text-transform: uppercase;
  color: $color-text-alt;
  font-size: $size-xs;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .LanguageToggle__info {
    opacity: 0;
    transition: 400ms 200ms;
    display: none;

    @include screen-medium {
      display: block;
    }
  }

  &:focus {
    // TODO: Bad chris, no focus styles!!
    outline: none;
  }

  em {
    color: $black;
    font-style: normal;
  }

  &:hover {
    .LanguageToggle__info {
      opacity: 1;
    }
  }
}
