.Avatar__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Avatar__image {
  border-radius: 50%;
}

.Avatar {
  width: 450px;
  height: 450px;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  .Avatar__stars,
  .Avatar__blob,
  .Avatar__blobTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 400ms;
    transform: translate(-50%, -50%);
  }

  .Avatar__shootingStar {
    position: absolute;
    top: 0;
    left: 0;

    @media (prefers-reduced-motion: reduce) {
      display: none;
    }

    @media (prefers-reduced-motion: no-preference) {
      animation: shootingStar 40s linear infinite;
    }
  }

  .Avatar__blob,
  .Avatar__blobTwo {
    width: 350px;
    height: 350px;

    @media (prefers-reduced-motion: no-preference) {
      animation: grow 4s infinite alternate linear;
    }
  }

  .Avatar__blobTwo {
    animation-delay: 1s;
  }

  .Avatar__stars {
    width: 400px;
    height: 400px;
  }

  &:hover {
    @media (prefers-reduced-motion: no-preference) {
      .Avatar__blob,
      .Avatar__blobTwo {
        width: 400px;
        height: 400px;
      }
    }
  }
}

@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.03);
  }
}

@keyframes shootingStar {
  0% {
    top: 0;
    left: 45%;
  }
  50% {
    top: 0;
    left: 45%;
  }
  52% {
    top: 100%;
    left: 115%;
  }
  100% {
    top: 100%;
    left: 115%;
  }
}
