/////////////////////////////////////////
// COMMONS: Styles for common elements //
/////////////////////////////////////////

@use "typography" as *;
@use "spacing" as *;
@use "colors" as *;

// add an animated underline to the element
.with-animated-underline {
  position: relative;
  display: inline-block;
  line-height: 1.125;

  &:after {
    display: block;
    content: " ";
    height: 2px;
    width: 0;
    background-color: $blue-light;
    transition: 400ms ease;
  }
  &:hover:after {
    width: 100%;
    opacity: 1;
  }
}

body {
  font-size: $font-size;
  font-family: $font-sans;
  color: $color-text;
}

p,
ul,
ol,
pre {
  margin-bottom: $space-m;
}

blockquote {
  margin: $space-m $space-s $space-m $space-l;
  font-style: italic;
}

a {
  color: $color-link;
  text-decoration: none;

  @extend .with-animated-underline;

  &:hover {
    color: $color-link-hover;
  }

  &.is-color-text {
    &,
    &:hover {
      color: $color-text;
    }
  }
}

// headers
@for $i from 1 through 5 {
  h#{$i},
  .h#{$i} {
    @include header($i);
  }
}
