/////////////////////////////////////////////////////////////////////
// TYPOGRAPHY: functions, variables, and mixins for text and fonts //
/////////////////////////////////////////////////////////////////////

@use "colors" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap");

$font-sans: "Inter", "Helvetica", "Arial", sans-serif;
$font-heading: $font-sans;
$font-body: $font-sans;

$font-size: 1.8rem;

$size-xxs: 1.2rem;
$size-xs: 1.4rem;
$size-s: 1.6rem;
$size-m: 1.8rem;
$size-l: clamp(2rem, 4vw, 2.4rem);
$size-larger: 2.8rem;
$size-xl: 3.6rem;
$size-xxl: clamp(4rem, 5vw, 4.8rem);
$size-cataclysmic: clamp($size-larger, 8vw, 6rem);
$size-apocalyptic: clamp($size-xl, 10vw, 7.2rem);

$color-text: $black;
$color-text-alt: $blue;
$color-link: $blue;
$color-link-hover: $blue-light;
