/////////////////////////////////////////////////////////////////////
// TYPOGRAPHY: functions, variables, and mixins for text and fonts //
/////////////////////////////////////////////////////////////////////

@use "scale" as *;
@use "spacing" as *;
@use "colors" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$font-sans: "Montserrat", "Helvetica", "Arial", sans-serif;
$font-heading: $font-sans;
$font-body: $font-sans;

$font-scale: $scale-augmented-4;
$font-size: 1.8rem;

// scale, but for font sizes
@function size($factor: 0) {
  @return scale($font-size, $font-scale, $factor);
}

@mixin header($i) {
  font-size: size(5-$i); // h1 is size 4, h2 is size 3... h5 is size 0
  margin: $space-xl 0 $space-m;
  font-family: $font-heading;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
}

$size-xs: size(-2);
$size-s: size(-1);
$size-m: $font-size;
$size-l: size(1);
$size-xl: size(2);
$size-xxl: size(3);

$color-text: $black;
$color-link: $blue;
$color-link-hover: $blue-light;
